section.contactme {}

.grid-container-contact {
    display: grid;
    grid-template-columns: auto auto;
}

section.contactme .tittle-contact-section {
    text-transform: uppercase;
    font-family: 'Anton', 'Sans serif';
    font-size: 3rem;
    text-align: center;
    margin: 20px 0 45px;
    letter-spacing: 3px;
    ;
}


/* contact info */

.contactme .contact-info {
    /* padding-left: 130px; */
    /* width: 50%; */
    margin-bottom: 50px;
    text-align: center;
}

.contactme .contact-info p {
    font-size: 1.5rem;
    color: #6a6969;
    line-height: 80px;
}

.contactme .contact-info p i {
    font-size: 1.5rem;
    color: #6A42D2;
    font-size: 1.8rem;
    margin-right: 8px;
}

.contactme .contact-info span a i.social-icon {
    color: #6A42D2;
}

.contactme .contact-info span a i.social-icon:hover {
    color: white;
}

.contactme .contact-info span a {
    font-size: 1.5rem;
    color: #6A42D2;
    font-size: 1.3rem;
    margin-right: 8px;
    text-decoration: none;
}


/* contac form */

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    left: 0;
}

.formulario .form-input {
    width: 400px;
    height: 45px;
    margin-bottom: 15px;
    padding-left: 15px;
    font-size: 1.2rem;
}

.formulario span {
    display: inline;
    margin-top: -15px;
    margin-bottom: 10px;
    font-size: 0.8rem;
    margin-left: -100px;
}

.check {
    margin-left: -380px;
}

.formulario textarea {
    width: 400px;
    margin-bottom: 8px;
    padding-left: 15px;
    font-size: 1.2rem;
}

.contactme .contact-form {
    /* border: 1px solid red; */
    /* width: 50%; */
    margin-bottom: 50px;
    ;
}

.formbtn {
    margin-top: 5px;
    padding: 20px 180px;
}

footer {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111517;
    font-size: 2rem;
    color: white;
    flex-direction: column;
}

footer img {
    width: 150px;
    height: 80px;
    padding-bottom: -10px;
}

@media(max-width: 1024px) {
    .contactme .contact-info {
        padding-left: 20px;
    }
}

@media(max-width: 768px) {
    .grid-container-contact {
        display: grid;
        grid-template-columns: auto;
    }
    .contactme .contact-info {
        padding-left: 20px;
    }
    .formulario .form-input {
        width: 90%;
        height: 45px;
        margin-bottom: 15px;
        padding-left: 15px;
        font-size: 1.2rem;
    }
    .formulario textarea {
        width: 90%;
    }
    .contact-info.grid-item-contact {
        text-align: center;
    }
    .contactme .contact-info p {
        font-size: 1.2rem;
        color: #6a6969;
        line-height: 40px;
    }
    .contactme .contact-info {
        margin-bottom: 0px;
    }
    section.contactme .tittle-contact-section {
        font-size: 2rem;
        text-align: center;
        margin: 10px 0 45px;
    }
}