* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container header {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 20px 100px;
    /* padding-bottom: -100px; */
    display: flex;
    /* justify-content: space-between;
    align-items: center; */
    background-image: url('../img/background.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.container header::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.9;
    background-color: #111517;
}

header .logo {
    position: relative;
    max-width: 180px;
    max-height: 80px;
    z-index: 10000;
}

header .menu-buttom {
    position: absolute;
    color: white;
    font-size: 2em;
    top: 0;
    right: 0;
    margin: 40px 100px;
    z-index: 10000;
}

header .menu-buttom:hover {
    color: #6A42D2
}


/*----------------------------------------
        ESTILOS DEL MENU DESPLIGABLE
 -----------------------------------------*/

.menu {
    display: none;
}


/* Cuando presionamos el boton de menu
 me agrega una clase .active a la lista desplegable
 y me le aplica a esa clase estos efectos*/

.menu.active {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    background: #111517;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9000;
}

.menu:hover {
    color: #6A42D2;
}

.menu-list {
    font-size: 2em;
    font-family: 'Anton', sans-serif;
}

.menu-list li {
    list-style: none;
    padding: 20px;
}

.menu-list a {
    text-decoration: none;
    color: white;
    padding: 20px;
    ;
}

.menu-list a:hover {
    background: white;
    color: #6A42D2
}


/*----------------------------------------
    FIN DE ESTILOS DEL MENU DESPLEGABLE
 -----------------------------------------*/


/*----------------------------------------
  ESTILOS DE REDES SOCIALES EN EL MENÚ
 -----------------------------------------*/

.social-icon {
    color: white;
    font-size: 1.5em;
    padding: 10px;
}


/*----------------------------------------
  ESTILOS AL TITULO DEL ANUCNIO
 -----------------------------------------*/

.anuncio {
    width: 100%;
    position: absolute;
    left: 0;
    padding-left: 130px;
    padding-top: 130px;
    ;
}

.anuncio .titulo {
    position: relative;
    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 3.5em;
    text-transform: uppercase;
    letter-spacing: 3px;
    max-width: 400px;
    margin-right: 20px;
    line-height: 75px;
}

.anuncio .skills-icon {
    margin-top: 10px;
    font-size: 2.5em;
    color: white;
}

.anuncio .skills-icon::after {
    content: "";
    position: absolute;
    background: #6A42D2;
    width: 60px;
    height: 10px;
    left: 130px;
    margin-top: 80px;
}


/*----------------------------------------
  FIN DE LOS ESTILOS AL TITULO DEL ANUCNIO
 -----------------------------------------*/


/*----------------------------------------
   ESTILOS POSTER
 -----------------------------------------*/

.poster {
    display: flex;
    justify-content: space-between;
}

.poster .perfil .perfil-container {
    position: relative;
    border: 2px solid white;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 100%;
}

.poster .perfil .perfil-container .img-perfil {
    width: 200px;
    height: 200px;
}


/*----------------------------------------
  FIN ESTILOS POSTER
 -----------------------------------------*/

@media(max-width:992px) {}