@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
:root {
    --line-border-fill: #3498db;
    --line-border-empty: #e0e0e0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {}

.container {
    text-align: center;
    ;
    /* CODIGO POR MI */
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.progress-container {
    justify-content: space-between;
    position: relative;
    margin-top: 30vh;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
    /* CODIGO POR MI */
    /* border: 1px solid red; */
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.progress-container::before {
    content: '';
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
}

.progress {
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
}

.circle {
    border: 3px solid var(--line-border-empty);
    transition: 0.4s ease;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: -1;
    background: #FFFFFF;
}

.circle.active {
    border-color: var(--line-border-fill);
}

.btn {
    background-color: var(--line-border-fill);
    color: #fff;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
}

.btn:active {
    transform: scale(0.98);
}

.btn:focus {
    outline: 0;
}

.btn:disabled {
    background-color: var(--line-border-empty);
    cursor: not-allowed;
}